GOOGLE_CLIENT_ID=31394710678-50fucv0sfu3sb3vk1m9ld9v31ca4adiu.apps.googleusercontent.com;
GOOGLE_CLIENT_SECRET=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;
SPRING_PROFILES_ACTIVE=default
DATASOURCE_URL=jdbc:postgresql://localhost:5432/library